<!-- minifb/show_all_profiles.html -->



{% extends 'mini_fb/base.html' %}

<!-- replace the block content section from the base.html page
with this more specific version 
-->
{% block content %}

<body style="background-color:rgb(203, 209, 212);">
<h2>Showing all Profiles</h2>

<table>
    <colgroup>
       <col span="2" style="width: 30%;">
       <col span="2" style="width: 25%;">
       <col span="2" style="width: 45%;">
    </colgroup>
    <tr>
        <th>Name</th>
        <th>Hometown</th>
        <th>Image</th>
    </tr>
    {% for profile in allprofiles %}
    <tr>
        <td>
            <a href="{% url 'show_profile_page' profile.pk%}">{{profile.first_name}} {{profile.last_name}}</a>
        </td>
        <td>
            {{profile.city}}
        </td>
        <td>
            <img src="{{profile.image}}" style="max-width: 100;">
        </td>
    {% endfor %}
    </tr>
</table>

</body>

{% endblock %}