<!-- mini_fb/show_profile_page.html-->

{% extends 'mini_fb/base.html' %}

{% block content %}

<h2>{{profilepage.first_name}} {{profilepage.last_name}}'s profile page</h2>

<table>
    <tr>
        <td>
            <img src={{profilepage.image}} style="width: 60%;" />  
        </td>
    </tr>  
    <tr>
        <td>
            <table> 
                <tr>
                    <th>Name</th><td>{{profilepage.first_name}} {{profilepage.last_name}}</td>
                </tr>   
                <tr>
                    <th>Hometown</th><td>{{profilepage.city}}</td>
                </tr>     
                <tr>
                    <th>Birth Date</th><td></td>
                </tr>   
            </table>
        </td>
    </tr>

</table>


<a href="{% url 'update_profile' profilepage.pk %}">Edit this Profile</a> |
<a href="{% url 'news_feed' profilepage.pk %}">Show {{profilepage.first_name}}'s News Feed</a> |
<a href="{% url 'show_possible_friends' profilepage.pk %}">Find Friends</a> |

<hr>
<form method ="POST" action = '/mini_fb/profile/{{profilepage.pk}}/post_status' enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            {{create_status_form}}
            <td><input type="submit" value="Update"></td> 
        </tr>
    </table>

</form>
<hr>

<table>
    <h2>{{profilepage.first_name}}'s friends</h2>

    {% if profilepage.get_friends %}
        {% for p in profilepage.get_friends %}
        <th>
            <tr>
                <td>
                    <a href="{% url 'show_profile_page' p.pk%}">{{p.first_name}} {{p.last_name}}</a>
                </td>
                <td>
                    <img src="{{p.image}}", style="max-width: 70;">
                </td> 
            </tr>
        </th>
    
        {% endfor %}
    {% else %}
    {{profilepage.first_name}} doesn't have any friends.
    {% endif %}
</table>

<h2>{{profilepage.first_name}}'s Story</h2>
{% for me in profilepage.get_status_messages %}
    <!-- delete button for deleteing a status message -->
    <a href="{% url 'delete_status' profile_pk=profilepage.pk status_pk=me.pk %}">Delete</a>
    {{me.timestamp}} {{me.message}}<br>

    {% if me.image %}
    <img src='{{me.image.url}}' style='max-width: 600;'>
    {% endif %}
{% endfor %}

{% endblock %} <!-- end of content block -->