<!-- mini_fb/show_profile_page.html-->

{% extends 'mini_fb/base.html' %}

{% block content %}

<body style="background-color:rgb(203, 209, 212);">

<h2>{{profilepage.first_name}} {{profilepage.last_name}}'s profile page</h2>

<table>
    <tr>
        <td>
            <img src={{profilepage.image}} style="width: 60%;" />  
        </td>
    </tr>  
    <tr>
        <td>
            <table>  
                <tr>
                    <th>Name</th><td>{{profilepage.first_name}} {{profilepage.last_name}}</td>
                </tr>   
                <tr>
                    <th>Hometown</th><td>{{profilepage.city}}</td>
                </tr>     
                <tr>
                    <th>Birth Date</th><td></td>
                </tr>   
            </table>
        </td>
    </tr>

</table>
<a href="{% url 'update_profile' profilepage.pk %}"><h4>Edit this Profile</h4></a>
<hr>
<form method ="POST" action = '/mini_fb/profile/{{profilepage.pk}}/post_status' >
    {% csrf_token %}
    <table>
        <tr>
            {{create_status_form}}
            <td><input type="submit" value="Update"></td> 
        </tr>
    </table>

</form>

<h2>{{profilepage.first_name}}'s Story</h2>
{% for me in profilepage.get_status_messages %}
   {{me.timestamp}} {{me.message}}<br>
{% endfor %}

</body>

{% endblock %} <!-- end of content block -->