<!-- quotes/home.html -->

{% extends 'quotes/base.html' %}

{% block content %}
<h1>Showing all quotes</h1>

<!-- scriptlet code to display the value of the context variable `quotes`  -->

<!-- quote is an invalid template variable name! {{quote}} -->

<!-- {{quotes}} -->

<!-- create a loop to display the quotes -->

<ul>
    {% for quote in quotes %}
    <li>"{{quote.text}}" - {{quote.person}}<br>
        <img src="{{quote.person.get_random_image}}" style="max-width: 400;">
    </li>
    {% endfor %}
</ul>

{% endblock %}